.swiper-button-prev,
.swiper-button-next {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all .25s ease;
}

.swiper-button-prev {
  transform: rotate(180deg);
}


.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: center center;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23ffffff"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>');
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}