---
import "../assets/style/hero.css";

import homeHeroImg from "../assets/images/desktop/index/hero-section.png";
---

<div class="home hero">
	<div class="row">
		<div class="col hero-main-img">
			<img class="cover-img" src={homeHeroImg.src} alt="" />
		</div>
		<div class="col hero-main-text-wrap">
			<div class="hero-main-text">
				<h1>Alyse Wang</h1>
				<p class="h3">前端工程師 & 職涯諮詢師</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="intro">
			<p class="h3">一名深耕前端技術的工程師。</p>
			<p class="h3">
				擅長 React、Vue 等框架，同時熱愛為轉職與新手工程師提供職涯指導。邀請你與我一起，開啟更具潛能的程式與職涯之旅！
			</p>
			<ul>
				<li>
					<a href="javascript:;"><span class="social-icon youtube"></span></a>
				</li>
				<li>
					<a href="javascript:;"><span class="social-icon apple-podcasts"></span></a>
				</li>
				<li>
					<a href="javascript:;"><span class="social-icon facebook"></span></a>
				</li>
				<li>
					<a href="javascript:;"><span class="social-icon linkedin"></span></a>
				</li>
				<li>
					<a href="javascript:;"><span class="social-icon instagram"></span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
